.cart-container {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: .45px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cart-header, .summary-title {
    line-height: 29px;
    font-size: 1.5em;
    font-weight: 400;
}

.cart-items {
    width: 70%;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.cart-item-with-shipping {
    border-bottom: 1px solid #ccc;
    width: 717.33px;
    height: 250px;
}

.shipping-text {
    font-size: 1em;
    font-weight: 500;
    line-height: 24px;
}

.shipping-date {
    font-size: 1em;
    font-weight: 400;
    line-height: 28px;
}

.cart-item a {
    text-decoration: none;
    color: #111111;
}

.cart-item-image {
    width: 164px;
    height: 164px;
    margin-right: 20px;
}

.cart-item-details {
    display: flex;
}

.cart-item-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-item-title, 
.cart-item-subtotal
{
    font-size: 1em;
    line-height: 24px;
    font-weight: 500;
}

.cart-item-subtitle,
.cart-item-options {
    color: #707072;
    font-size: 1em;
    line-height: 28px;
    font-weight: 400;
}

.cart-item-size > select,
.cart-item-quantity > select{
    color: #707072;
    font-size: .85em;
    font-weight: 400;
}

.cart-item-select {
    margin-left: 5px;
    border: none;
}

.cart-item-quantity {
    margin-left: 5px;
}

.cart-summary {
    font-weight: 500;
    width: 25%;
}

.cart-item-information-spacer{
    flex-grow: 1;
}

.cart-item-delete{
    border: none;
    background: none;
    cursor: pointer;
}

.empty-cart{
    line-height: 28px;
}

.list-price--sale {
    text-decoration: line-through;
    color: gray;
    margin-right: 1em;
}