.checkout-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    line-height: 1.2
}

.checkout-top-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding-bottom: 1em;
}

.checkout-bottom-message {
    text-align: center;
    width: 33%;
}

.checkout-bottom-message h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight:500;
}

.checkout-bottom-message a {
    color: #111111;
}
