.order-items-container {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: .45px;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100%;
    color: #111111;
}

.order-items {
    width: 58vw;
    min-height: 58vh;
}

.order-item-image {
    width: 208px;
    height: 208px;
    padding-right: 32px;
}

.order-items-header {
    line-height: 29px;
    font-size: 1.5em;
    font-weight: 400;
}

.order-item {
    display: flex;
    justify-content: flex-start;
    padding: 48px 0;
    border-bottom: 1px solid #ccc;
}

.order-item a {
    text-decoration: none;
    color: #111111;
}

.order-item a:hover {
    color: rgb(102, 102, 102);
}

.order-item-details {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    max-height: 168px;
}

.order-item-status-shipped > h3 {
    font-size: .95em;
    line-height: 24px;
    font-weight: 500;
    color: rgb(16, 112, 6);
}

.order-item-status-delivered > h3 {
    font-size: .95em;
    line-height: 24px;
    font-weight: 500;
    color: rgb(102, 102, 102);
}

.order-item-title {
    font-size: .95em;
    line-height: 24px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 12px;
}

.order-item-information > h3{
    color: #707072;
    font-size: .95em;
    line-height: 28px;
    font-weight: 400;
}

.order-items-empty {
    margin-top: 36px;
    line-height: 29px;
    font-size: 1.25em;
    font-weight: 400;
}