.products-page {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
}

.header-offset{
    height: 30px;
}

.filter-sidebar {
    width: 260px;
    border-right: 1px solid #ccc;
}

.product-grid {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-right: 40px;
    padding-left: 48px;
    box-sizing: border-box;
}

.product-item {
    font-family: Helvetica, Arial, sans-serif;
    width: calc((100% - 30px) / 3);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    line-height: 1.75;
    box-sizing: border-box;
}


.product-item img {
    /* display: block; */
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: opacity 0.28s;
    filter: blur(0.1px);
}

.product-item a {
    text-decoration: none;
}

.product-item h3 {
    color: #111111;
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.product-item p {
    font-size: 0.rem;
    font-weight: normal;
    color: #000;
    margin: 0.25rem 0;
}

/* .product-item p.price {
    font-size: 0.9rem;
    font-weight: bold;
    color: #111;
} */

