.products-page {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 1em;
    letter-spacing: .45px;
}

.header-offset{
    height: 30px;
}

.filter-sidebar {
    width: 260px;
    border-right: 1px solid #ccc;
}

.product-grid {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-right: 40px;
    padding-left: 48px;
    box-sizing: border-box;
}

.product-item {
    width: calc((100% - 30px) / 3);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    line-height: 1.75;
    box-sizing: border-box;
}


.product-item img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transition: opacity 0.28s;
    filter: blur(0.1px);
}

.product-item a {
    text-decoration: none;
}

.product-index-name {
    color: #111111;
    font-size: 1em;
    font-weight: 500;
}

.product-index-subtitle {
    color: #707072;
    font-size: 1em;
    font-weight: 400;
}

.product-index-price{
    color: #111111;
    font-size: 1em;
    font-weight: 500;
}

.product-index-price--sale{
    text-decoration: line-through;
    color: #707072;
    margin-left: .5em;
}

.product-sale-percent {
    color: #128a09;
    font-size: em;
    font-weight: 500;
}
