.top-bar {
    background-color: #f5f5f5;
    font-size: 12px;
    width: 100vw;
    vertical-align: baseline;
    height: 36px;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

.session-container {
    
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.top-right {
    display: flex;
    align-items: center;
}

.top-link {
    color: #111;
    text-decoration: none;
    padding: 0 10px;
}

.top-link:hover {
    text-decoration: underline;
}

.divider {
    color: #bbb;
}