.top-bar {
    background-color: #f5f5f5;
    font-size: 12px;
    width: 100%;
    vertical-align: baseline;
    height: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: .1px;
    font-weight: 500;
}

.session-container {
    
    display: flex;
    justify-content: center;
    padding: 0px 40px;
}

.top-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.top-link {
    color: #111;
    text-decoration: none;
    padding: 0 10px;
}

.top-link:hover {
    text-decoration: underline;
}

.divider {
    color: #bbb;
}

.profile-avatar {
    width: 24px;
    height: 24px;
    border-radius: 25px;
    vertical-align: middle;
    border-style: none;
    cursor: pointer;
    color: rgba(0, 0, 0, .54);
    /* padding: 6px; */
}

 .profile-avatar:hover {
     background-color: #E5E5E5;
     /* padding: 6px;
     margin: -6px; */
     border-radius: 25px;
 }

.profile-button-container {
    position: relative;
    display: inline-block;
    /* padding: 8px;
    margin-right: 8px */
}

.profile-button-container>button {
    background: transparent;
    border: none;
    color: #333;
}

.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: 6px;
    padding: 24px 24px 24px 16px;
    z-index: 10;
    min-width: 200px;
}

.profile-dropdown li {
    color: #757575;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: 14px;
    white-space: nowrap;
}

.profile-dropdown li:hover {
    background-color: #f2f2f2;
}

.profile-button-container:hover .profile-dropdown
 {
    display: block;
}

.top-right:hover .profile-dropdown {
     display: block;
 }

 .user-welcome:hover{
    color: rgb(117, 117, 117);
 }


